

.libroNovedad{
    display: grid;
    grid-template-columns: repeat(2, 300px);
    border: 1px solid black;
    width: 600px;
    padding: 10px;
}

.libroNovedad>a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.libroNovedad>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}