@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {

    /*font-family: 'Protest Riot', sans-serif;*/
    font-family: 'Dancing Script', cursive;
    margin: 0px;
}



/*Aqui empieza el encabezado*/
header {
    display: grid;
    width: 100%;
    grid-template-columns: 60% 40%;
    background-color: #2e2e2c;
    color: white;
    grid-column: span 1;
    font-size: 1;
}





img {
    justify-self: center;
    height: 100%;
    width: 50%;
    object-fit: fill;
}

.iconos2 {
    display: none;
}



#icono {

    font-size: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;

}


header a {
    color: white;
    text-decoration: none;
}

/*Aqui termina el encabezado*/
/*Aqui empieza el cuerpo*/

#contenedorLogin {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../imagenes/fondo/imagenFondo.jpg');
    background-size: cover; /* o contain */
    background-attachment: fixed;
    background-position: center;
}

.titulo{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.titulo > h2{
    font-size: 50px;
}
.formularioLogin{
    flex:1;
    gap: 5px;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tituloRegistro{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.estiloMensaje{
   display: flex;
   align-items: center;
   justify-content: center;
   color: red;
}

/*Aqui termina el cuerpo*/
/*Aqui empieza el pie de pagina*/
footer {

    background-color: #2e2e2c;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 50px;

}

footer>.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

h1 {
    margin-top: 60px;
    text-align: center;
}

.redes>ion-icon {
    height: 50%;
    width: 50%;
    color: #a5a6a5;
}



@media (min-width: 768px) {
    header {
        display: grid;
        width: 100%;
        grid-template-columns: 30% 70%;
        background-color: #2e2e2c;
        color: white;
        grid-column: span 1;

    }


    ion-icon {
        height: 60%;
        width: 60%;
        color: #a5a6a5;
    }

    .iconos2 {
        display: none;
    }


}


/* Responsivo escritorio */
@media (min-width: 1024px) {
    header {
        display: grid;
        width: 100%;
        grid-template-columns: 20% 80%;
        background-color: #2e2e2c;
        color: white;
        grid-column: span 1;

    }



    .iconos2 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        font-size: 30px;
    }

    .iconito {

        color: #e6e6e2;
    }

    .iconos2 .iconito:hover {
        font-size: 40px;
    }

    .unidad {
        width: 400px;
        height: auto;
    }



}

